{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>1分であなたのプランが分かる！日帰り横浜旅行プラン診断コンテンツ</title>
        <meta name="dicription" content="あなたにぴったりな横浜旅行プランを1分でご提案します！">
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="../static/default.css">
        <link rel="stylesheet" href="../static/diagnosis.css">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
    </head>

    <body>
        <header>
            <div id="header">
                <div id="header_img">
                    <img src="../static/byoutabi.png">
                </div>
                <div id="header_background">
                </div>
            </div>
        </header>

        <div class="body">
            <!-- todo:actionのリンクを変更 -->
            <form class="question" action="result.html" method="get">
                <div id="price" class="border border-primary rounded-pill ">
                    <h2><span class="border border-5 border-info">設問1/4</span></h2>
                    <label for="price">金額</label>
                    <br>
                    <select name="price" id="price">
                        <option value="reasonable">コスパ重視(10000円以内)</option>
                        <option value="rich">リッチに(20000円以内)</option>
                    </select>
                    <br>
                    <div id="q1">
                        <button class="btn btn-outline-info" type="button">次へ</button>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div id="personality" class="blind border border-primary rounded-pill ">
                    <h2><span class="border border-5 border-info">設問2/4</span></h2>
                    <label for="personality">性格</label>
                    <br>
                    <select name="personality" id="personality">
                        <option value="outdoor">アウトドア</option>
                        <option value="middle">どちらでもない</option>
                        <option value="indoor">インドア</option>
                    </select>
                    <br>
                    <div id="q2">
                        <button class="btn btn-outline-info" type="button">次へ</button>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div id="pace" class="blind border border-primary rounded-pill ">
                    <h2><span class="border border-5 border-info">設問3/4</span></h2>
                    <label for="pace">ペース</label>
                    <br>
                    <select name="pace" id="pace">
                        <option value="quick">てきぱき</option>
                        <option value="slow">ゆっくり</option>
                    </select>
                    <br>
                    <div id="q3">
                        <button class="btn btn-outline-info" type="button">次へ</button>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div id="member" class="blind border border-primary rounded-pill ">
                    <h2><span class="border border-5 border-info">設問4/4</span></h2>
                    <label for="member">何人</label>
                    <br>
                    <select name="member" id="member">
                        <option value="singular">ひとり</option>
                        <option value="multiple">友達や恋人</option>
                    </select>
                    <br>
                    <button class="btn btn-outline-info" type="submit" id="q4">診断する</button>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </form>

            <script src="diagnosis.js"></script>
            <!-- Bootatrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        </div>
    </body>
</html>