{% extends "result_base.html    " %}
{% load static %}

{% block headline %}
<div class="copy-container">
    <h1>あなたにおすすめの旅行先は...</h1>
    <h2><span>赤レンガ倉庫</span>です</h2>
</div>
{% endblock %}


{% block multicolumn %}
<h3 class="section-title">場所</h3>
<div class="contents-item">
    <div class="place">
        <div>
            <img src="{% static 'img/result/select-akarenga.png' %}" alt="">
        </div>
        <div>
            <h5>・赤レンガ倉庫</h5>
            <p>歴史的建造物の倉庫が1号館、2号館と並び、館内ではショッピングや飲食、イベントを楽しめます。館内は入館無料。ふたつの館の間にはイベント広場があり、季節に合わせたイベントが毎月のように開催されているのも魅力的なスポットです。海側に移動すると横浜港を一望できます。家族連れ、カップル、友人同士と幅広い世代に愛されていいるスポットです。</p>
        </div>
    </div>
    <div class="place">
        <div>
            <img src="{% static 'img/result/cup_noodle.jpg' %}" alt="">
        </div>
        <div>
            <h5>・カップヌードルミュージアム</h5>
            <p>世界でひとつだけのオリジナル「カップヌードル」を作ることができる工房。 自分でデザインしたカップに、4種類の中からお好みのスープと、12種類の具材の中から4つのトッピングを選べます。 味の組み合わせは、合計5,460通り。 「逆転の発想」の大切さを楽しみながら体感してください。</p>
        </div>
    </div>
</div>        
{% endblock %}


{% block summary %}
<h3 class="section-title">旅行プラン💛</h3>
<div class="contents-item">
    <h4>12:00　横浜駅で待ち合わし、京都石塀小路豆ちゃで食事</h4>    
    <h4>13:10　店を出て横浜駅東口(ベイクォーター)に向かう</h4>
    <h4>13:20　船が出発！　赤レンガ倉庫へ</h4>
    <h4>13:40　赤レンガ倉庫到着、カップヌードルミュージアムに向かう</h4>
    <h4>13:50　カップヌードルミュージアムに到着</h4>
    <h4>17:20　ミュージアムを出て再度赤レンガ倉庫に向かう</h4>
    <h4>18:00　赤レンガ倉庫から船で横浜駅へ</h4>
    <h4>18:20　横浜駅に到着</h4>
    <h4>18:25　ダンボピザファクトリーで食事</h4>
    <h4>21:30　集合場所で解散</h4>
</div>
{% endblock %}
