{% extends "result_base.html" %}
{% load static %}

{% block headline %}
<div class="copy-container">
    <h1>あなたにおすすめの旅行先は...</h1>
    <h2><span>八景島シーパラダイス</span>です</h2>
</div>
{% endblock %}


{% block multicolumn %}
<h3 class="section-title">場所</h3>
<div class="contents-item">
  <div class="place">
      <div>
          <img src="{% static 'img/result/hakkeijima1.png' %}" alt="">
      </div>
      <div>
          <h5>・八景島シーパラダイス</h5>
          <p>横浜・八景島シーパラダイスは、テーマの異なる４つの水族館や、絶叫マシーンなどさまざまなアトラクションからなる複合型アミューズメントアイランドです。国内最多5万尾のイワシの大群泳や、海の動物たちのショーは必見です。海をテーマにしたアトラクションは、子どもから大人まで楽しめる内容。島の中には、ショップや多彩なレストランからなる『ベイマーケット』やBBQが楽しめる「Seafood&Grill YAKIYA」やホテル「シーパラダイスイン」なども揃い、一日中楽しめる観光スポットです。</p>
      </div>
  </div>     
</div> 
{% endblock %}


{% block summary %}
<h3 class="section-title">旅行プラン💛</h3>
<div class="contents-item">
    <h4>12:00　八景島駅で待ち合わし、シーパラダイス内のレストランで食事</h4>    
    <h4>13:10　飼育スペースに向かう</h4>
    <h4>14:10　シーパラダイス内のショッピングセンターで少し休憩</h4>
    <h4>14:40　ショッピングセンターを出て、アトラクション＆散歩</h4>
    <h4>16:45　水族館に向かう</h4>
    <h4>17:00　水族館(夜の部)に入場する</h4>
    <h4>19:00　水族館を出て、駅に向かう</h4>
    <h4>19:20　電車で帰る</h4>
</div>
{% endblock %}

